:root {
  /* Color Scheme */
  --button-primary-color: #abd27a;
  --button-primary-hover-color: #deebc5;
  --button-primary-pressed-color: #508826;
  --button-disabled: #e4e8df;
  --button-secondary-color: #fff;
  --button-secondary-border-color: #abd27a;
  --button-secondary-hover-border-color: #deebc5;
  --button-secondary-pressed-border-color: #508826;
  --button-secondary-disabled-border-color: #e4e8df;
  --button-tertiary-color: #fff;
  --button-primary-content-color: #253017;
  --button-primary-content-pressed-color: #fff;
  --button-primary-content-disabled-color: #69735d;
  --button-secondary-content-color: #253017;
  --button-secondary-content-hover-color: #69735d;
  --button-secondary-content-pressed-color: #253017;
  --button-secondary-content-disabled-color: #9ca197;
  --button-tertiary-content-color: #253017;

  /* Layout */
  --button-border-radius: 12px;

  /* Font */
  --button-font-size: 16px;
  --button-font-weight: 400;
}
