:root {
  /* Color Scheme */
  --text: #253017;
  --caption: #69735d;
  --disabledText: #9ca197;
  --toggle: #b2b9a9;
  --disabled: #e4e8df;
  --cardInput: #ffffff;
  --textLink-buttonPressed: #508826;
  --accent: #abd27a;
  --buttonHover: #deebc5;
  --background: #f9faf7;
  --alarm: #e0796e;
  --error: #bf3920;
  --tagBusiness: #eee7f7;
  --tagCreativityArt: #f7e7f2;
  --tagLanguages: #ebe5c5;
  --tagEducationDevelopment: #e7f2f6;
  --tagHomeComfort: #f7ebe5;
  --tagHealthLifestyle: #e9f7e7;
  --tagPlus: #e8ecf7;

  /* Font */
  --button-font-size: 16px;
  --button-font-weight: 400;
  --skill-component-font-size: 12px;
  --skill-component-font-weight: 400;

  /* Layout */
  --skill-component-border-radius: 20px;
  --skill-component-padding: 8px 12px;
  --button-border-radius: 12px;
}
