.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.wrapper {
  border: 1px var(--color-caption) solid;
  border-radius: 16px;
}

.wrapperOpen {
  box-sizing: border-box;
  border-bottom: transparent;
  border-radius: 16px 16px 0px 0px;
  width: 100%;
  height: 100%;
}

.select {
  box-sizing: border-box;
  line-height: 24px;
  padding: 12px 20px;
  background: none;
  width: 100%;
  background: url('@/app/assets/static/images/icons/chevron-down.svg');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 24px 24px;
}

.select:focus-visible {
  outline: none;
}

.selectOpen {
  border-bottom: 1px var(--button-disabled) solid;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 100%;
}

.selectHasPlaceholder {
  color: var(--color-caption);
}

.option {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.ul {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 3;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-card);
  border: transparent;
  border-radius: 0 0 16px 16px;
} /* оставил прозрачный бордер чтобы не перекрывало другие элементы */

.li {
  padding: 4px 20px;
  list-style-type: none;
  line-height: 24px;
  z-index: 2;
  border-left: 1px solid var(--color-caption);
  border-right: 1px solid var(--color-caption);
}

.error {
  color: var(--color-error);
  font-size: 12px;
  line-height: 16px;
}

.li:hover {
  background-color: var(--color-disabled);
}

.selected {
  color: var(--color-text-link);
}

.wrapperError {
  border-color: var(--color-error);
}

.wrapperOpenError {
  border-color: var(--color-error);
  border-bottom: transparent;
}

.selectOpenError {
  border-bottom: 1px solid var(--color-error);
}

.li:last-child {
  border-bottom: 1px var(--color-caption) solid;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
