*,
*::before,
*::after {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--z-index-modal);
  margin: auto;
  padding: 75px 60px 0;
  background-color: #fff;
  border-radius: 12px;
  min-height: 420px;
  min-width: 556px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 88px;
  gap: 10px;
  margin-bottom: 10px;
}

.title {
  margin: 0;
}

.description {
  margin: 0;
}

.img {
  display: block;
  margin: auto;
  min-width: 75px;
  min-height: 75px;
  margin-bottom: 60px;
}

.content {
  overflow-y: auto;
}

.buttonContainer {
  text-align: center;
}
