*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
  background-color: inherit;
}

.progressInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 12px;
}

.contentStep {
  margin: 0;
  font-family: Jost, Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.1%;
  text-align: center;
}

.formsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1136px;
  height: 692px;
  overflow: hidden;
}

.formWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
