.skillPage {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 1368px;
  margin: 0 auto;
  padding: 32px 0 60px;
}

.userOffer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 24px;
}
