.profileCard {
  height: 368px;
  border: 1px solid #e7e8ec;
  border-radius: 8px;
  padding: 20px;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  cursor: pointer;
  overflow: hidden;
}

.profileCard:hover {
  transform: translateY(-3px);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 15px;
  overflow: hidden;
  background-color: #f5f5f5;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatarPlaceholder {
  width: 100%;
  height: 100%;
  background-color: #e1e3e6;
}

.profileName {
  text-align: center;
  font-size: 18px;
}

.skills {
  margin-bottom: 15px;
}

.skillSection {
  margin-bottom: 10px;
}

.skillSection h4 {
  font-size: 14px;
  color: #656565;
}

.skillSection p {
  margin: 0;
  font-size: 15px;
}
