@import url('../../../app/styles/variables.css');

.container {
  max-width: 284px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--cardInput, #ffffff);
}

.title {
  margin: 0;
  padding-block-end: 40px;
  line-height: 28px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: left;
}
