.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.emptyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  gap: 20px;
}

.emptyText {
  font-size: 16px;
  color: #253017;
  text-align: center;
  max-width: 300px;
}
