.container {
  margin-top: 100px;
  margin-bottom: 84px;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.icon {
  max-height: 273px;
  padding-top: 16px;
  padding-bottom: 14px;
}
