.sameOffers {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1368px;
}

.sliderContainer {
  position: relative;
  margin-top: 16px;
}

.cardsSlider {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.cardsSlider::-webkit-scrollbar {
  display: none;
}

.cards {
  display: flex;
  gap: 24px;
  min-width: max-content;
}

.cardWrapper {
  display: flex;
  flex: 0 0 auto;
  min-width: 324px;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  padding: 8px;
  background: var(--color-disabled, #e4e8df);
  transition: background-color 0.3s ease;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrowLeft {
  left: -16px;
}

.arrowRight {
  right: -16px;
}

.arrowLeft:hover,
.arrowRight:hover,
.arrowLeft:focus,
.arrowRight:focus {
  background: var(--button-primary-hover-color, #deebc5);
}

.arrowLeft img,
.arrowRight img {
  display: block;
  width: 16px;
  height: 16px;
  pointer-events: none;
}
