.searchContainer {
  position: relative;
  min-width: 470px;
  padding: 1px;
  margin-right: 25px;
}

.searchIcon {
  position: absolute;
  left: 6px;
  top: 55%;
  transform: translateY(-50%);
}

.input {
  width: 100%;
  padding: 15px 10px 15px 30px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  font-size: 16px;
}
